/* Created by: Isaaq Simon
* Created on: June 2025
* This file contains the CSS for index.html
*/
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

h2 {
    color: #333;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    color: #006600; }